.chat-main
  .main-header
    .main-header__leftbox
      .main-header__leftbox__current-group
        76
      .main-header__leftbox__member-list
        Member： 
        .main-header__leftbox__member-list__member
          神保
    .main-header__edit-btn 
      Edit
  .messages
    .message
      .message__upper-info
        .message__upper-info__talker
          神保
        .message__upper-info__date
          2020/06/05(Fri) 11:57:38
      .message__text
        text
    .message
      .message__upper-info
        .message__upper-info__talker
          神保
        .message__upper-info__date
          2020/06/05(Fri) 11:57:38
      .message__text
        text
  .form
    %form.new_message