.chat-side
  .side-header
    .side-header__box
      %p.sidebox__header__box__user-name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
        %li.side-header__box__menu__edit-user
  .groups
    %p.group__group-name
    %p.group__latest-message